h1 {
    background-color:aliceblue;
    font-family: Verdana;
    font-size: 252%;
    border: 2px solid powderblue;
    padding: 30px;
    margin: 50px;
    
}

p {
    background-color: black;
    color: pink;
    font-size: 301%;
    font-family: sans-serif;
    border: 2px solid powderblue;
    padding: 10px;
}

p1 {
    border: 2px solid powderblue;
}