<!DOCTYPE html>
<html>
    <head>
        <title>Column Layout</title>
        <style>
            * {
                box-sizing:border-box;
            }
            .column1{
                float:left;
                width: 30%;
            }
            .column2{
                float:left;
                width: 25%;
            }
             
            .column3{
                float:left;
                width: 25%;
            }            
        </style>
    </head>
    <body>
        <div class="row">

            <div class="column1" style="background-color:lightgrey;">
                <p>Column 1</p>
            </div>
            <div class="column2" style="background-color:lightgreen;">
                <p>Column 2</p>
            </div>
            <div class="column3" style="background-color:lightgreen;">
                <p>Column 3</p>
            </div>
        </div>
        
    </body>
</html>