body {
    background-image: url("pic2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    background-image: url("moun.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}